@media (max-width: 1230px){
  .texthob {
    text-align: left;
  }
  }
  .imgapps{
    align-items: center;

}

@media (max-width: 707px){
    footer{
        justify-content: center;
    }
}
    footer h3{
        margin-left: 100px;
        font-size: 20px;
    }

@media (min-width: 658px) {
    button.Menu {
        display: none;
    }
}
@media (max-width: 657px) {
    .ullink {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }
    .ullink li {
        display: none;
    }
}    