/**Font**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/**Margin of page**/
* {
    margin: 0;
    padding: 0;
}

/**Boddy**/
body {
    font-family: 'Roboto',sans-serif;
}

/**Section1**/
.Section1 {
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    padding: 10vh;
    flex-wrap: wrap;
    box-shadow: 0px 2px 3px black;
}


/**Header**/
header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0  irem black;
}

/**Title**/
.titulo {
    height: 40vh;
    width: 40vw;
    margin: 23px;
    color: #ffffff;
}


/**ul**/
ul{
    display: flex;
}

/**li links**/
ul.ullink li {
    color: #88CAE7;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
    margin-top: 22px;
    text-align: justify;
}

/**Section2**/
.Section2{
    background-color: rgba(22, 22, 22, 0.986);
    display: flex;
    justify-content:center;
    padding: 10vh 0vw;
    flex-wrap: wrap;
}

/**Imagem**/
.perfil {
    border-radius: 50%;
    width: 247px;
    height: 247px;
    filter: drop-shadow(4px 6px 3px rgba(0, 0, 0, 0.25));
}


/**Texto do lado da imagem**/
#text {
    width: 500px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-shadow: 3px 2px 2px black;
    text-align: justify;
}


/**Figure**/
figure {
    margin: 0px 100px;
}

.HobsandTop{
    /**margin: 0px 40px;
**/    display: flex;
    flex-wrap: wrap;
}


.HobsandTop div{
    margin: 0px 40px;
}

/**UL DA LISTA DE HOBBIES**/
.ulhob {
    display: flex;
    flex-wrap: wrap;
    min-width: 20px;
    flex-direction: row;
    color:rgb(255, 255, 255);
    justify-content: center;
}

/**Listas dos Hobbies**/
ul.ulhob li {
    color: rgb(255, 255, 255);
    list-style-type: none;
    margin-right: 30px;
    margin: 4px;
    
}

/**texto dos hobbies **/
.texthob {
    color: #88CAE7;
    text-align: end;
    text-shadow: 1px 3px 2px black;
}


/**Imagens centrais (Hobbies e top)**/
img {
    width: 80px;
    height: 100px;
    border-radius: 9%;
    padding: 3px;
    filter: drop-shadow(4px 6px 3px rgba(0, 0, 0, 0.25));
    transform-style: flat;
}

/**Textos das imagens**/
figcaption {
    position: relative;
    bottom: 25px;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 2px 1px black;
    color: #ffffff;
}

/**texto do top5 **/
.texttop {
    color: #88CAE7;
    text-shadow: 1px 3px 2px black;
}

/**Footer**/
footer {
    min-height: 10vh;
    width: 100%;
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.945);
    align-items: center;
    position: relative;
}

/**Class of the app's**/
.apps {
    display: flex;
    flex-direction: row;
}

/**Icones APP**/
.imgapps {
    width: 32px;
    height: 32px;
    align-items: left;
}

/**Entrar em contato**/
.Contato {
    color: rgb(0, 0, 0);
    background-color:#88CAE7;
    margin-right: 100px;
    text-shadow: 0px 1px 1px black;
    cursor: pointer;
    border-radius: 2rem;
    border: solid 4px;
    border-color: #88CAE7;
}

footer div {
    margin: 0 100px;
}


/**link**/
a{ 
    text-decoration: none;
}

h3 {
    color: #88CAE7;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    right: 50px;
    top: 25px;
}
button.Menu:focus ~ .ullink li{
    display: block;
}

/**Animações**/

/**animação houver nas fotos dos hobbies e top**/
.ulhob li:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

/**animação houver nos links da header**/
.ullink a:hover{
    color: rgb(0, 136, 255);
    transform: scale(1.2);
    transition: 0.3s;
}
/**animação Entrar em contato footer**/
footer h3:hover{
    transform: scale(1.2);
    transition: 0.3s;
}


